<!DOCTYPE html>
<html>
<head>
	<title>Index Page</title>
</head>
<body>
	<table border="1" width="100%" cellspacing="0">
		<tr>
			<td align="right">
				<h1 align="left">Tourism Management System</h1>
				<a href="index.html"> Home </a> |				
				<a href="managerLogin.html"> Login </a> |				
				<a href="managerRegistration.html"> Registration </a>
			</td>
			

		</tr>
		<tr height = "300px">
			<td align="left" colspan="2">
				<h1>Welcome</h1>			
			</td>
		</tr>
		<tr height = "30px">
            <td colspan="2">
                <center> Copyright@2017 </center>
            </td>
        </tr>
		
	</table>
</body>
</html>